@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap');
body{
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
#textStyles{
  font-family: Ubuntu;
}
#textStyles2{
  font-family: Montserrat;
}
.btn-flat{
  border: 1px transparent;
}
.headfon{
  background: url(img/fon1.jpg) no-repeat center top / cover;
  height: 600px;
}
div{
  box-sizing: border-box;
}
.cont{
  width: 930px;
  margin: 0 auto;
  color: #32CD32;
  padding: 5px;
  font-size: 2.5em;
}
.cont2{
  width: 1000px;
  padding: 5px;
  margin: 0 auto;
  font-size: 2.5em;
}
.cont3{
  width: 950px;
  padding: 5px;
  margin: 0 auto;
  font-size: 2em;
  color: #32CD32;
}
.cont4{
  width: 800px;
  padding: 7px;
  margin: 0 auto;
  font-size: 5em;
}
.cont5{
  width: 1300px;
  padding: 50px;
  margin: 0 auto;
}
.cont6{
  font-size: 4em;
  margin: 0 auto;
  padding: 0px 15px;
  color: #32CD32;
}
.text1{
  width: 800px;
  height: 180px;
  color: #32CD32;
  background-color: #000000;
  margin: 0 auto;
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 2em;
}
.text2{
  width: 1000px;
  padding: 5px;
  margin: 0 auto;
  font-size: 2em;
}
.text3{
  width: 950px;
  padding: 5px;
  margin: 0 auto;
  font-size: 2em;
}
.marg{
  margin: 0;
}
strong{
  color: #32CD32;
}
.right{
  float: right;
  margin: 0 0 1em 1em;
  width: 250px;
}
.left{
  float: left;
  margin: 0em 1em 1em 0;
  width: 250px;
}
.fon2{
  background-color: #000000;
  color: white;
}
.fon3{
  background-color: #ffffff;
}
.fon4{
  background-color: #000000;
  color: white;
  height: 800px;
}
.fon5{
  background-color: #ffffff;
  height: 400px
}
.thumbs:hover .thumbs{
  transform: scale(0.9);
}
.thumb{
  transition: 1s;
}
.thumb:hover{
  transform: scale(1.1) !important;
}
.buttonPython{
  background: url(img/python.png) no-repeat center top / cover;
  width: 350px;
  height: 250px;
  border: 5px solid #FFD700;
  display: inline-block;
}
.buttonPython:hover{
  border: 5px solid #32CD32;
}
.buttonPython h1{
  font-size: 4em;
  padding: 80px 70px;
  opacity: 0;
  transition: 0.5s;

}
.buttonPython h1:hover{
  opacity: 1 !important;
}
.buttonHtml{
  background: url(img/html.png) no-repeat center top / cover;
  width: 350px;
  height: 250px;
  border: 5px solid #FF4500;
  display: inline-block;
}
.buttonHtml:hover{
  border: 5px solid #32CD32;
}
.buttonHtml h1{
  font-size: 4em;
  padding: 80px 90px;
  opacity: 0;
  transition: 0.5s;

}
.buttonHtml h1:hover{
  opacity: 1 !important;
}
.buttonPhp{
  background: url(img/php.png) no-repeat center top / cover;
  width: 350px;
  height: 250px;
  border: 5px solid #9370DB;
  display: inline-block;
}
.buttonPhp:hover{
  border: 5px solid #32CD32;
}
.buttonPhp h1{
  font-size: 4em;
  padding: 80px 115px;
  opacity: 0;
  transition: 0.5s;

}
.buttonPhp h1:hover{
  opacity: 1 !important;
}
.buttonC1{
  background: url(img/c++.jpg) no-repeat center top / cover;
  width: 350px;
  height: 250px;
  border: 5px solid #FFD700;
  display: inline-block;
}
.buttonC1:hover{
  border: 5px solid #32CD32;
}
.buttonC1 h1{
  font-size: 4em;
  padding: 80px 70px;
  opacity: 0;
  transition: 0.5s;

}
.buttonC1 h1:hover{
  opacity: 1 !important;
}
a{
  text-decoration: none;
  color: #32CD32
}
.progr{
  padding: 0;
  margin: 0;
  display: block;
}
.progr li{
  float: left;
  display: block;
  margin-right: 25px;
}
nav{
  float: right;
  margin-top: 10px;
}
.martop{
  margin-top: 15px;
}
.comen{
  resize: none;
  width: 450px;
  height: 200px;
}
input{
  background: #000000;
  color: #32CD32;
  font-size: 0.8em;
}
textarea{
  background: #000000;
  color: #32CD32;
  font-size: 0.8em;
}
::-webkit-input-placeholder {
  color: #32CD32;
}
::-moz-placeholder{
  color: #32CD32;
}
::-ms-input-placeholder {
  color: #32CD32;
}
